@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    
</div>
<div class="jumbotron">
    <h1>Welcome to ChessBuddy!</h1>
    <div>
        <img src="~/Content/Images/logo.png" class="w-25 my-3 mx-auto row" />
    </div>
    <p class="lead">ChessBuddy is a database to store and organize chess games for personal study</p>
    <p class="lead">Create an account to add games to your Favorites list and refer back to interesting games to work on improving your own game!</p>
</div>